html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --color-light: lightgray;
  --color-dark: darkgray;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.circle {
    margin: 0.5em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    animation: pulse infinite alternate 1s;
    background-color: var(--color-light);
}

@keyframes pulse {
    from {
        background-color: var(--color-dark);
    }

    to {
        background-color: var(--color-light);
        width: 1.6em;
        height: 1.6em;
    }
}
