.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

html,
body {
  background-color: #ffeead;
  margin: 10px;
}

.container > div:nth-child(1) {
  background-color: burlywood;
}

.container > div:nth-child(2) {
  background-color: rosybrown;
}

.container > div:nth-child(3) {
  background-color: burlywood;
}
